{
  "postgres": {
    "host": "postgres",
    "port": "5432",
    "user": "postgres",
    "password": "postgres",
    "database": "plohub",
    "ssl_mode": "disable",
    "timezone": "Asia/Seoul",
    "timeout": "10"
  },
  "jwt": {
    "issuer": "plohub",
    "audience": "plohub",
    "access_token_secret": "YOUR ACCESS TOKEN SECRET",
    "refresh_token_secret": "YOUR REFRESH TOKEN SECRET"
  },
  "server": {
    "port": "4000",
    "domain": "localhost",
    "contract_server_base_url": "http://contract-server:8080"
  },
  "s3": {
    "region": "YOUR AWS REGION",
    "access_key": "YOUR AWS ACCESS KEY",
    "secret_key": "YOUR AWS SECRET KEY",
    "main_bucket": "YOUR MAIN BUCKET NAME",
    "nft_bucket": "YOUR NFT BUCKET NAME"
  }
}